BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: true
NamespaceIndentation: All
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true